<html xmlns:th="https://www.thymeleaf.org">
    <body>
        <h1 th:text="Etat du stock"/>
        <table border="1">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article : ${articles}">
                    <td th:text="${article.nomArticle}"></td>
                    <td th:text="${article.qte}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/store/commande">Refresh</a>
     
        <!-- Formulaire d'ajout d'un article -->
        <h2>Réapprovisionnement du stock</h2>
            <form th:action="" method="post">
    
                <button type="submit">Réapprovisionner</button>
            </form>

    </body>
</html>